* {
	box-sizing: border-box;
}

.container {
	width: 50%;
	margin: 0 auto;
	background-color: #fff;
	padding: 2rem;
	border-radius: 6px;
}

.container h1 {
	margin-bottom: 20px;
	font-weight: 700;
	text-transform: capitalize;
}

.form-container {
	position: relative;
	margin-bottom: 15px;
	display: block;
}

.form-input {
	padding: 15px 15px;
	border-radius: 8px;
	border: 2px solid hsla(207, 45%, 44%, 1);
	outline: 0;
	width: 100%;
}

.form-input-label {
	position: absolute;
	top: -10px;
	left: 10px;
	color: hsla(207, 45%, 44%, 1);
	padding: 0 0.35rem;
	background: white;
}

textarea {
	min-height: 5rem;
	max-height: 50vh;
	width: 50%;
}
